footer{
    font-size: 20px;
    background-color: #FBFBFB;
    padding: 15px;
}
footer li{
    list-style-type:none;
    margin: 5px;
}
footer li a.active{
    color:#43A047;
    border-bottom:solid 3px #43A047;
}
footer a{
    cursor: pointer;
    color: black;
    text-decoration: none;
}
footer a:hover{
    color: #43A047;
}
footer .row{
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*top row*/

footer .menu-item-list{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
}
footer .menu-item-list  li{
    padding: 5px;
}
/* bottom row*/
footer .row:nth-child(2){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
footer .social{
    margin: 15px;
    gap: 10px;
    display: flex;
    justify-content: space-between;
}
footer .partners{
    display: inline-flex;
    gap: 5px;
    margin: 5px;
}
footer .partners .logo-con{
    width:80px;
    height: 80px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
}
footer .partners .logo-con img{
    padding: 10px;
    width: 100%;
}
footer .partners .logo-con img.ycode{
    width: 60%;
    height: 35%;
    align-self: center;

}
@media all and (max-width: 720px) {
    footer .row:nth-child(2){
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }

}