body{
padding: 0px;
box-sizing: border-box;
background-image: url("images/image_bg.jpg");
background-repeat: no-repeat; 
background-size: cover;
opacity: 0.90;
background-position:center;
background-attachment: fixed;
}
main section{
display: flex;
flex-direction:row;
justify-content: space-between;   
}
main .description{
    display: flex;
    justify-content: space-between;
}
main .description .ajouter {

display: flex;
    height: 45px;
    border: solid 1px #6BAB6E;
    border-radius: 9px;
}
main .allergies-section{
display: flex;
flex-wrap: wrap;
align-items: center;
border: white ;
background-color: rgba(255, 255, 255, 0.253);
box-sizing: border-box;
}

main .allergies-section .card{
border-radius: 10px;
background-color:white;
align-items: center;
gap:5px;
display: inline-flex;
margin: 5px;
width: 48%;
box-shadow: 0px 0px 10px #eee;
justify-content: space-between;
padding: 10px;
box-sizing: border-box;
}

main .allergies-section .card .contenu{
display: contents;
display:flex;
align-items:center;
flex:1;
gap:15px;
justify-content:flex-start;
font-size:20px;
}

main .allergies-section .modify-delet{
    display: flex;
}
main .allergies-section .modify-delet img{
    width: 25px;

}
main .preferences-section .modify-delet{
    display: flex;
}


main .allergies-section .card label{
display: inline;

}
main .card input{
background-color:green;
width: 50px;
height: 50px;
outline: 2px solid #6BAB6E;
}

main .preferences-section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: white ;
    background-color: rgba(255, 255, 255, 0.253);
    box-sizing: border-box;
    
}
main .preferences-section .card{
    border-radius: 10px;
    background-color:white;
    align-items: center;
    gap:5px;
    display: inline-flex;
    margin: 5px;
    width: 48%;
    box-shadow: 0px 0px 10px #eee;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}

main .card img{
width:100px;
}

main .preferences-section .modify-delet img{
    width: 25px;

}

main .preferences-section .card label{
display: inline;

}
main p{

display: inline-block;
padding: 5px;
width: 48%;
height: 40px;
margin-top: 10px;  
}
main .preferences-section .card .contenu{
    display: contents;
    display:flex;
    align-items:center;
    flex:1;
    gap:15px;
    justify-content:flex-start;
    font-size:20px;}

@media screen and (max-width: 800px) {
main .allergies-section .card{
    width: 100%;
    }
    main .preferences-section .card{
        width: 100%;
        }

}


@media screen and (max-width: 720px) {

main .allergies-section .card{
width: 100%;
margin: 4px;

}

main .preferences-section .card{
    width: 100%;
    margin: 4px;

    }
 
main .allergies-section .modify-delet {
    flex-direction: column;
    width: 25px;
    margin: 4PX;
    }
 
main .preferences-section .modify-delet{
    flex-direction: column;
    width: 25px;
    margin: 4PX;
    }
    
    main .allergies-section .modify-delet img:nth-child(1)
    {
        --portion:80;
       width: calc(40px*var(--portion)/100);
       height: calc(40px*var(--portion)/100);
       MARGIN: 21%;
   }
   /**pour l'icon de supprimer section allergies*/
   main .allergies-section .modify-delet img:nth-child(2) {
       --portion:90;
       width: calc(28px*var(--portion)/100);
       height:  calc(36px*var(--portion)/100);
       MARGIN: 21%;
   }
    /**pour l'icon de modifier section preferences*/
   main .preferences-section .modify-delet img:nth-child(1) {
      --portion:80;
       width: calc(40px*var(--portion)/100);
       height: calc(40px*var(--portion)/100);
       MARGIN: 21%;
   }
    /**pour l'icon de supprimer section preferences*/
   main .preferences-section .modify-delet img:nth-child(2) {
      --portion:90;
       width: calc(28px*var(--portion)/100);
       height:  calc(36px*var(--portion)/100);
       MARGIN: 21%;
   }}