

:root{
    --button-color: #43A047;
   --bgimag:url('images/image_bg.jpg');

}


body{

    box-sizing: border-box;
    background-image: var(--bgimag);
    background-repeat: no-repeat;
  
    font-family: 'Poppins';
    background-size: cover;

  
    background-position: center;
    background-attachment: fixed;
   
   
}
.drop-down .drop-down-btn{
  
    border: NONE;
    background-color: white;
    margin-top: 24%;
  

}

.user__compte ul{
    list-style: none;
    flex-direction: column;
    WIDTH: 203PX;
    cursor: pointer;
}

.user{
    display: flex;
  
    justify-content: space-between;


}

.user__operation__search{
    DISPLAY: FLEX;
    JUSTIFY-CONTENT: SPACE-BETWEEN;
    padding: 0% 1%;
    border-radius: 28px;
    BORDER: 1PX SOLID var(--button-color);
    BACKGROUND-COLOR: WHITE;
    width: 29%;
    position: RELATIVE;

  
}
.user__operation__add{
    DISPLAY: FLEX;
    JUSTIFY-CONTENT: SPACE-BETWEEN;
    padding: 0% 1% ;
    border-radius: 28px;
  
    BORDER: 1PX SOLID #707070;
    BACKGROUND-COLOR: WHITE;
}
.user__operation__add input{
       BORDER:none;
       border-radius: 25PX;
       outline: none;
    
}
.user__operation__search input{
   
    MARGIN: 0PX;
    border: none;
    BACKGROUND-COLOR: WHITE;
    border-radius: 25PX;
    WIDTH: 100%;
    outline: none;
}
.user__operation__search img{
    POSITION: relative;
    border-left: 1px solid var(--button-color);
    padding: 3%;

}

.user__compte{
    background-color: white;
    display: flex;
    JUSTIFY-CONTENT: space-evenly;
  
    WIDTH: 100%;
    border-radius: 18px;
    border: 1px #707070 solid;
    MARGIN: 1%;
}
.user_group__compte{
    
    display: flex;
    flex-direction: row;
    MARGIN: 0;


}
h2{
font-size: 22px;
}
.user_compte__menu{
    MARGIN: 0% -7% 23% 0%;

}
.user_compte__menu button{
    background: white;
    border: none;
    margin-top: 52%;
}
H1{
    position: staticS;
}
summary{
    margin: 1% 47%;
    PADDING: 1%;
    BACKGROUND-COLOR: WHITE;
    border-radius: 11PX;
    border: 1px solid #707070;
  
    
}
.filter_user{
    
    
    PADDING: 1%;
    display: flex;
    justify-content: space-between;
    width: 40%;

}
.imageface {
    border-radius: 50%;
    BOX-SIZING: border-box;
    PADDING: 1%;
    width: 134px;
}


@media (min-width: 761px)   and (max-width: 1000px) { 
    .user__operation__add input{
        display: none;  
          
 }
 .user__operation__search {

    width: 30%;
    right: -1%;
 }
 .filter_user {
  
    WIDTH: 56%;
}
  
}



@media (max-width: 760px) {
    body{
        margin: 2%;
       
    }
    summary{
        margin: 1% 40%;
    
      
        
    }
    section{
        display: flex;
        flex-direction: column;
    }
  
    .user_group__compte{
        display: flex;
        flex-direction: column;
       justify-content: space-between;
    
    
    }
    .user{
        display: flex;
        flex-direction: column-reverse;        
    }
   .user__operation__search {
    width: 98%;
    MARGIN: 9% 0% 6% 0%;
    }
    .user__operation__add input{
        display: none;  
          
 }
.user__operation__add img{
   color: green;
    right: 0px; 
}

.user__operation__add{
  
    padding: 2% 4%;
    margin: 1% 1% 1% 83%;
}
   h1{
    POSITION: ABSOLUTE;
    font-size: 18px;

   }
   .filter_user{
    
    WIDTH: 100%;
}
}

