body{
    
    box-sizing: border-box;
    background-image: url("images/image_bg.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    opacity: 1;
    
}

main .contenu{ 
    display: flex;
    flex-direction:column;
    align-items: center;
}
   
main section{
    display: flex;
    flex-direction:row;
    justify-content: center;
}

main .image-profile {
align-items: center;
justify-content: center;
margin-right: 18%;
}

main section .bouttons button{
    margin: 4px;
    width: 80%;
    border: solid #43A047 1px;
    border-radius: 10px;
    padding: 10px;
}

main section .type-utilsateur select{
    height: 28px;
    margin-top: 5%;
    margin-left: 30px;
    border: 1px solid;
    border-radius: 10px;


}
main section .photo-profile {
    --size:90px;
    width:var(--size) ;
    height:var(--size);
    border: 1px solid #0002;
    border-radius: 50%;
    background-color:white;
    display:flex;
    justify-content:center;
    align-items:center;
}
main section .photo-profile img {
    width:60%;
    height:60%;
}

main form .infos-users{
    display: grid;
    justify-content: center;
    margin: 30px;
}

main form .type-utilsateur{
    display: flex;
    margin-left: 4%;
}

main .envoie-email{
    display: flex;
    justify-content: center;
    margin-right: 11%;
}

main .envoie-email input{
    margin: 18px 10px 10px 10px;
}

main .boutton-ajouter {
    color: white;
     background-color: green;
     justify-content: center;
     width: 20%;
     border: solid green;
     border-radius: 10px;
     padding: 15px;
     margin-top: 50px;
     margin-left: 38%;
}

main form .infos-users input{
    padding: 10px;
    border-radius: 20px ;  
    border: solid green 1px;
    width: 170%;
}

main form{
    padding: 25px 250px 0px 0px;
}


main .contenu h1{
justify-content: center;
align-items: center;}

@media screen and (max-width: 800px) {
    main .contenu h1{
        width: 80%;
     }
     main .image-profile{
         width: 80%;
     }
     main .contenu p{
     width: 100%;    
    }
     
     main section{
         width: 105%;
     }

 main form{
     width: 60%;
 }

     main .envoie-email{
         width: 65%;
     }
 
     main .boutton-ajouter{
         width: 60%;
         margin: 80PX;
     }    
}

@media screen and (max-width: 720px) {
 
    main .contenu h1{
       width: 70%;
    }
    main .image-profile{
        width: 60%;
    }
    main .contenu p{
    width: 100%;
    }

    main section{
        width: 105%;
    }

main form{
    width: 60%;
}

    main .envoie-email{
        width: 65%;
    }

    main .boutton-ajouter{
        width: 60%;
        margin: 80PX;

    }

}

