body{
    
    box-sizing: border-box;
    background-image: url("image_bg.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    opacity: 0.90;
    
}
main section{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    
}
main .allergies-section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: white ;
    background-color: rgba(255, 255, 255, 0.253);
}


main .allergies-section .card{
    border-radius: 10px;
    background-color:white;
    align-items: center;
    gap:5px;
    display: inline-flex;
    margin: 5px;;
    width: 48%;
    box-shadow: 0px 0px 10px #eee;
}

main .allergies-section .card .contenu{
    display: contents;
}



main .card img{
    width:100px;
}

main .allergies-section .card input{
    display: inline;
    margin-left: 50%;

}


main .allergies-section .card label{
    display: inline;

}

main .preferences-section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: white ;
    background-color: rgba(255, 255, 255, 0.253);

}
main .preferences-section .card{
    border-radius: 5px;
    background-color:white;
    align-items: center;
    gap:5px;
    display: inline-flex;
    margin: 5px;;
    width: 48%;
    box-shadow: 0px 0px 10px #eee;
}
main .card img{
    width:100px;
}
main .preferences-section .card input{
    display: inline;
    margin-left: 50%;
    
}

main .preferences-section .card label{
    display: inline;

}
p{
    border-radius: 5px;
    background-color:white;
    width: 48%;
    height: 40px;
    margin-top: 10px;
    
   
}
main .preferences-section .card .contenu{
    display: contents;
}

@media screen and (max-width: 800px) {
    main .allergies-section .card{
        width: 100%;
        }
        main .preferences-section .card{
            width: 100%;
            }
}


@media screen and (max-width: 720px) {
    main .allergies-section .card{
    width: 100%;
    }
    main .preferences-section .card{
        width: 100%;
        }
        input{
            margin-left: 50%;
        }
    
}