@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-image: url("images/image_bg.jpg");
    padding: 15px;
}
.glass{
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: opacity(0%);
    backdrop-filter: blur(2);
    border-radius: 5px;
}
