:root{
    --button-color: #43A047;

   --img-plat: url('images/bgimg.svg');
   --bgimag:url('images/image_bg.jpg');

}


body{
    margin: 2%;
    padding: 0%;
    box-sizing: border-box;
    background-image: var(--bgimag);
    background-repeat: no-repeat;
  
    font-family: 'Poppins';
    background-size: cover;

  
    background-position: center;
    background-attachment: fixed;
   
   
}


h2{
    font-size: 30px;
    margin: 6% 0% 0% 0%;
    BACKGROUND: #fbfbfb9c;
    DISPLAY: INLINE-BLOCK;
    padding: 1% 1%;
 
}
h3{
   font-size: 25px;
}
.cadre{
    background-image: var( --img-plat);
  
    background-repeat:no-repeat;
    background-size: cover;
    color: white;
    box-shadow: 6px 9px 20px 20px;
    border-radius: 5%;

}
.glace{
    background-color: rgba(44, 36, 36, 0.453);
    padding: 2%;
    border-radius: 5%;
}
.cadre__row{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.cadre__row__title{
    font-size: 28px;
    margin-top: 2%;

}
.cadre p:nth-child(2n){
  
    width:20em;
    MARGIN-BOTTOM: 19%;

}
.plat-de-jour p{
    font-size: 18px;
}
.ticket{
  
    border-radius:7px;
    margin-top: 19%;
    border-radius: 7px;
    color: white;
    
}
a{
    
    color: white;
}
.ticket--green{
    background-color: var(--button-color);
}
 .ticket--red{
    background-color: #E64A19;
   
    
}

.plat-de-jour{
    width: 89%;
    display: flex;
    flex-direction: column;
    margin: 5% 5% 5% 5%;

   
    

}
section{

        display: flex;
        flex-direction: row;
        background-color: #fbfbfb9c;
        width: 100%;
     
        box-sizing: border-box;
       
}

.plat-de-jour__save {
    background-color: var(--button-color);
    border-radius: 17px;
    margin: 0% 57% 6% 0%;
    padding: 3%;
    color: white;
    font-size: 18px;
   
}

input[type="text" ]{
    padding: 7%;
    MARGIN: 28PX 0PX 32PX 0PX;
}


@media (max-width: 720px) {
    body{
        margin: 2%;
       
    }
    section{
        display: flex;
        flex-direction: column;
    }
  
    .plat-de-jour p {
        font-size: 15px;
    }
   
}