/*generl*/
header{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
}
header *{
    box-sizing: border-box;
}
header li{
    list-style-type: none;
}
header ul{
    margin: 0px;
    padding: 0px;
}
header a{
    display: inline-block;
    padding: 5px;
    color: black;
    text-decoration: none;
}
header a:hover{
    background-color: green;
    color: white;
}
header #logo{
    width: 60px;
    height: 60px;
}
header .mobile-drop-down__btn{
    width: 40px;
    height: 40px;
}
header .mobile-drop-down a{
    width: 100%;
    cursor: pointer;
}
header .mobile-drop-down{
    direction: rtl;
    position: relative;
}
header .mobile-drop-down .profile-dropdown__btn{
    width: 30px;

}
header .mobile-drop-down .mobile-drop-down__content{
    text-align: left;
    box-shadow: 0px 0px 5px rgba(0, 128, 0, 0.6);
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}
header .mobile-drop-down .profile-dropdown{
    border-top: 1px solid #eeee;
    margin-top: 5px;
    padding-top: 5px;
}
@media all and (min-width:720px){


}
